%ul.side-nav.fixed.z-depth-1.blue-grey.darken-2
  %li
    %h5.logo-text OFFICED
    - if user_signed_in?
      %li= link_to "Home", root_path
      %li= link_to "Companies", companies_path
      %li= link_to "Contacts", contacts_path
      %li= link_to "Tasks", tasks_path
    - else
      %li
        %a.tooltipped(data-position="right" data-delay="50" data-tooltip="Please, log in to use the service") Home
      %li
        %a.tooltipped(data-position="right" data-delay="50" data-tooltip="Please, log in to use the service") Companies
      %li
        %a.tooltipped(data-position="right" data-delay="50" data-tooltip="Please, log in to use the service") Contacts
      %li
        %a.tooltipped(data-position="right" data-delay="50" data-tooltip="Please, log in to use the service") Tasks