%ul.side-nav.fixed.z-depth-1.blue-grey.darken-2
  %li
    %h5.logo-text FINDYMINDY
  %li= link_to "Home", root_path
  %li= link_to "Companies", companies_path
  %li= link_to "Contacts", contacts_path
  %li= link_to "Tasks", tasks_path